beautifulsoup4==4.7.1
bert-tensorflow==1.0.1
cryptography==2.7
defusedxml==0.6.0
Flask==1.0.3
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-SocketIO==4.0.0
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
future==0.17.1
gensim==3.4.0
html2text==2018.1.9
Jinja2==2.10.1
numpy==1.15.4
pandas==0.24.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.7.0
python-dateutil==2.8.0
regex==2019.6.5
requests==2.22.0
scikit-learn==0.20.1
selenium==3.141.0
statsmodels==0.10.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-hub==0.5.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
wrapt==1.10.11
WTForms==2.2.1
